---
import { Icon } from 'astro-icon/components';

const items = [
	[
		{
			title: 'Alex Zieschang',
			description:
				'6. Semester Bachelor, Vertiefung Informatik',
			roles:
				'FSR, GemKo',
			icon: 'ic:round-person',
			portrait: "http://thispersondoesnotexist.com/",
			email: "alexander.zieschang@stud.tu-darmstadt.de",
		},
		{
			title: 'Carsten Wesp',
			description:
				'6. Semester Bachelor, Vertiefung Elektrotechnik',
			roles:
				'FSR, GemKo',
			icon: 'ic:round-person',
			portrait: "http://thispersondoesnotexist.com/",
			email: "carsten.wesp@stud.tu-darmstadt.de",
		},
		{
			title: 'Eike Rehwald',
			description:
				'6. Semester Bachelor, Vertiefung Mathe Mechanik',
			roles:
				'FSR, GemKo',
			icon: 'ic:round-person',
			portrait: "http://thispersondoesnotexist.com/",
			email: "eike.rehwald@stud.tu-darmstadt.de",
		},
	],
];
---

<section class="scroll-mt-16 dark:bg-steel-700">
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<h1 class="text-4xl dark:text-steel-100 md:text-center font-bold text-justify pb-4">
				Wer ist Teil der Fachschaft?
			</h1>
			<div class="text-xl pb-8">
				<p dark:text-steel-100>
					Per Definition sind alle, die in den Studiengang Computational Engineering, egal ob Bachelor oder Master, eingeschrieben sind Teil der Fachschaft. <br>
					Wir unterscheiden hier aber zwischen der allgemeinen Fachschaft und der aktiven Fachschaft. <br>
					Die Mitglieder der aktiven Fachschaft treffen alle möglichen Entscheidungen rund um den Studiengang.
					Unter anderem sind diese Mitglieder auch die, die für Rollen wie <b><u>F</u></b>ach<b><u>S</u></b>chafts<b><u>R</u></b>at und Verterter in der <b><u>Gem</u></b>einsamen <b><u>Ko</u></b>mission.
					Der aktiven Fachschaft beizutreten ist sehr einfach. Mehr Infos hierzu unter <a style="color:DodgerBlue;" href="/fachschaft/mitmachen/"><u>Mitmachen</u></a>.
				</p>
			</div>
			<h1 class="text-4xl md:text-4xl dark:text-steel-100 md:text-center font-bold text-justify pb-4">
				Mitglieder der aktiven Fachschaft
			</h1>
			<div class="mx-auto space-y-6 md:space-y-0 justify-center">
				{
					items.map((subitems) => (
						<div class="space-y-8 sm:px-8">
							{subitems.map(({ title, description, roles, icon, portrait, email }) => (
								<div class="flex flex-row space-x-4"> 
									<div class="mb-4 mr-5">
										{icon && <Icon name={icon} class="w-10 h-10 text-blue-500" />}
									</div>
									<div class="flex-grow">
										<h3
											class="
												leading-10 text-2xl font-bold text-steel-600 dark:text-white
												underline decoration-1 decoration-steel-100 dark:decoration-steel-600 underline-offset-[0.5rem]"
											>
											{title}
										</h3>
										<p class="text-steel-600 dark:text-steel-200" set:html={description} />
										<p class="text-steel-600 dark:text-steel-200">
											Gewählte Position(en): {roles}
										</p>
										<p class="text-steel-600 dark:text-steel-200">
											{/* Kontakt: <a href={email}>{email}</a> we can't have nice things in HMTL so no clickable email*/}
											Kontakt: {email}
										</p>
									</div>
									<div class="flex-shrink-0">
										<img src={portrait} alt="Portrait" width="100" height="100" />
									</div>
								</div>
							))}
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
